<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= article.title %>
  </title>
  <link rel="stylesheet" href="/css/article-detail.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>
        <%= article.title%>
      </h1>
      <p class="meta-info">Written by <span class="author">
          <%= article.author %>
        </span> | Published on: <%= article.publishDate %>
      </p>
    </header>
    <div class="article-body">
      <%- article.content %>
    </div>
    <% if(admin===true) {%>
      <!-- Edit Button (Link to Edit Page) -->
      <a href="/article/<%= article.id%>/edit" class="edit-button">Edit Article</a>
      <a href="/article/<%= article.id%>/delete" class="edit-button">Delete Article</a>
      <% } %>
  </div>
</body>

</html>