<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= article.title %>
  </title>
  <link rel="stylesheet" href="/css/article-detail.css">
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navbar">
        <h1>Personal Blog</h1>
      </nav>
    </header>
    <main class="main">
      <section id="article-header">
        <h2>
          <%= article.title %>
        </h2>
        <p class="meta-info">Written by <span class="author">
            <%= article.author %>
          </span> | Published on: <%= article.date %>
        </p>
      </section>
      <sectionß class="article-body" id="article-body">
        <%- article.content %>
      </sectionß>

      <% if(admin===true) {%>
        <!-- Edit Button (Link to Edit Page) -->
        <a href="/article/<%= article.slug%>/edit" class="edit-button">Edit Article</a>
        <a href="/article/<%= article.slug%>/delete" class="edit-button">Delete Article</a>
        <% } %>
    </main>
    <footer class="footer"></footer>
  </div>
</body>

</html>